body,section[id="layout"]{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 99%;
}
section[id="products"]{
    display: flex;
    flex-wrap: wrap;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.prodotto img{
    max-height: 150px;
    max-width: 100px;
    margin: 2px;
}
.prodotto h3{
    margin:0px;
    max-width: 110px;
}
.prodotto{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(85, 85, 85, 0.151);
    border-radius: 10px;
    padding:10px;
    margin: 5px;
}
.hidden{
    display: none;
}
#products.hidden{
    display: none;
}