
body{
    margin:0px;
    height:100vh;
    width:100vw;
}
main {
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
  }
.elem{
    display: flex;
    flex-wrap: wrap;
    flex-shrink:0;
    overflow-y:auto;
}

.product{
    height: 220px;
    width: 150px;
    margin: 5px;
    background-color: rgb(79, 79, 176);
}
/*
.elem[data-row='1'][data-col='1']{
    height:500px;
    width:calc(50% - 10px);
    margin: 5px;
}
.elem[data-row='1'][data-col='2']{
    height:500px;
    width:calc(50% - 10px);
    margin: 5px;
}
.elem[data-row='1'][data-col='3']{
    height:500px;
    width:calc(50% - 10px);
    margin: 5px;
}
.elem[data-row='2'][data-col='1']{
    height:200px;
    width: calc(100% - 10px);
    margin:5px;
}
.elem[data-row='3'][data-col='1']{
    height: 500px;
    width: calc(25% - 10px);
    margin:5px;
}
.elem[data-row='3'][data-col='2']{
    height: 500px;
    width: calc(50% - 10px);
    margin:5px;
}
.elem[data-row='3'][data-col='3']{
    height: 500px;
    width: calc(25% - 10px);
    margin:5px;
}
@media(max-width: 600px){
    .product{
*/
        /*altezza e larghezza del blocco contenente il prodotto sono dimezzate per la versione mobile*/
/*      height: 110px;
        width: 75px;
        margin: 3px;
    }
*/
    /*tutte le altezze dei vari elem sono dimezzate per la versione mobile*/
/*  .elem[data-row='1'][data-col='1']{
        height:250px;
    }
    .elem[data-row='1'][data-col='2']{
        height:250px;
    }
    .elem[data-row='1'][data-col='3']{
        height:250px;
    }
    .elem[data-row='2'][data-col='1']{
        height:100px;
    }
    .elem[data-row='3'][data-col='1']{
        height: 250px;
    }
    .elem[data-row='3'][data-col='2']{
        height: 250px;
    }
    .elem[data-row='3'][data-col='3']{
        height: 250px;
    }
}
*/
